<md-toolbar id="toolbar" layout="row" layout-align="center center">
  <span class="mdl-cell--hide-tablet mdl-cell--hide-phone toolbar-brand">Angular Basic</span>
  <section flex layout="row" layout-align="left center">
    <md-button href="#home" class="mdl-cell--hide-phone mdl-cell--hide-tablet">Home</md-button>
    <md-button href="#about" class="mdl-cell--hide-phone mdl-cell--hide-tablet">About</md-button>
    <md-button href="#home" class="mdl-cell--hide-desktop material-icons grey">home</md-button>
    <md-button href="#about" class="mdl-cell--hide-desktop material-icons grey">work</md-button>
  </section>
  <span class="acme-navbar-text mdl-cell--hide-phone mdl-cell--hide-tablet toolbar-small-text">Application created {{ vm.relativeDate }}</span>
</md-toolbar>
