<div layout="vertical">
  <md-content layout-fill>
    <header>
      <acme-navbar creation-date="vm.pageData.creationDate"></acme-navbar>
    </header>   
    <cover-image section="vm.pageData.section" section-text="vm.pageData.sectionText" logo-url="vm.pageData.logoURL"></cover-image>    
    <div class="mdl-layout  mdl-js-layout">
      <main class="mdl-layout__content"> 
        <div class="mdl-grid" >
          <md-card class="mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone" ng-repeat="awesomeThing in vm.pageData.contentData | orderBy:'rank'">      
            <techs item="awesomeThing" ng-if="vm.pageData.contentType ==='techs'"></techs>
            <guide-item item="awesomeThing" ng-if="vm.pageData.contentType ==='guide-item'"></guide-item> 
          </md-card>
        </div>
      </main>
    </div>
  </md-content>
</div>
