/*angular-material styles are required to this component*/
#logo{
  width: 90%;    
}
@media (min-width: 900px) {
 section.jumbotron.home{
    height: 89vh;
    padding: 0;
  }
  
}
@media (max-width: 900px) {
  .lead{
    display:none;
  }
}
section.jumbotron{
  margin-bottom: 30px;
  padding: 50px 0px;
  background-color: white;
  border-bottom: 2px solid #d6d6d6;
  text-align: center;
  color: #757575;
  width: 100%;
}
section.jumbotron.about {
  width: 100%;
  color: #4d265c;
  display: inline-flex;
}
.bgrAbout{
  background-image: url("assets/images/logoCode.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 50%;
}
.textsContainerAbout{
  width: 60%;
  padding-left: 30%;
}
.textsContainerAbout h1{
  font-family: 'OpenSans-Bold';
  font-size: 3.5em;
}
.imgContainerAbout{
  width: 30%;
  padding: 0 10% 0 10%;
}
.lead{
  font-family: 'OpenSans-Light';
  font-size: 1.7em;
}